<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Quotes</title>
    <link rel="stylesheet" type="text/css" href="static/style.css">
</head>
<body style="background-color: black; color: aliceblue;"  align="center">

    {{ home }}
    <div id="logo">
        Post<span id="quoteLogo" style="color: yellow;">Quotes</span>
    </div>
    <div>
        <a href="/logout"><button>Log Out</button></a>
    </div>

    <br>

    <h2>Share a Quote with your cohort</h2>
    <form method="post" action="/home" align="center"  class="post-form">
        <br>
        <br>
        <label>Share A Quote</label>
        <br>
        <br>
        <input id="post-input" type="text" name="formUsername" minlength="5" placeholder="username">
        <br>
        <br>
        <input id="post-input" type = "text" name="quote" minlength="5" placeholder="qoute">
        <br>
        <br>
        <input id="post-input" type = "text" name="author" minlength="1" placeholder="who said it">
        <br>
        <br>
        <input id="postBtn" type="submit" name="subBtn">
        <br>
        <br>
    </form>

    <section id="quotes">
        <h3>Here Is All Your Cohort's Quotes:</h3>
        <div>
            {% for post in postss %}
            <br>
            <br>
            <div class="posts-place">
                <h5 class="title">username:</h5>
                <h4 id="post1">{{postss[post]['username']}}</h4>
                <br>
                <h5 class="title">qoute:</h5>
                <h3 id="post1">{{postss[post]['qoute']}}</h3>
                <br>
                <h5 class="title">author:</h5>
                <h3 id="post1">{{postss[post]['author']}}</h3>
            </div>
            <br>
            <br>
            {% endfor %}
        </dev>
    </section>
</body>
</html>