<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Log In</title>
    <link rel="stylesheet" type="text/css" href="static/style.css">
</head>
<body style="background-color: black; color: aliceblue;" align="center">
    <div id="logo">
        Post<span id="quoteLogo" style="color: yellow;">Quotes</span>
    </div>
    <br><br><br><br><br><br><br>
    <form method="post"  action="/login">
        <input type="email" name="email" placeholder="email" required>
        <input type="password" name="password" placeholder="password" required>
        <input type="submit">
    </form>

    <h1>NOTE: you cant login without having an account habibi</h1>
    <a href="/"><button>signup</button></a>
</body>
</html>